@import "header.css";
@import "footer.css";
@import "about.css";

:root {
    --main-color: rgb(199, 199, 199);
    --secondary-color: rgb(255, 255, 255);
    --background-color: #000000;
    --accent-color: rgb(0, 145, 255);
    --gradient: linear-gradient(to right, var(--accent-color), var(--background-color));
    --fx-name: 75px;
    --fs-largeTitle: 50px;
    --fs-mediumTitle: 35px;
    --fs-regular: 25px;
    --opacity-high: 0.999;
    --opacity-medium: 0.9;
    --opacity-low: 0.75;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font: 20px Raleway;
    font-size: var(--fs-regular);
}

body {
    background-color: var(--background-color);
}

main {
    position: relative;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
}

/* Education and Experience --------------------- */

.projects {
    margin-bottom: 50%;
}

.edex-t,
.projects-t {
    padding-top: 5%;
    padding-left: 5%;
    font-size: var(--fs-largeTitle);
    text-align: center;
    color: var(--secondary-color);
}

.ed-u-t,
.ed-c-t,
.ex-ta-t,
.postSphere-t,
.habitize-t {
    color: var(--accent-color);
    font-size: var(--fs-mediumTitle);
    padding-bottom: 2%;
}

.inner-box {
    background: var(--background-color);
    padding: 1rem;
    margin: 1rem;
    max-width: fit-content;
    text-align: left;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 30;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
}

.ibm-p {
    margin-top: 10px;
    max-width: 400px;
    max-height: min-content;
}

.u-p {
    margin-top: 20px;
    max-width: 750px;
    max-height: min-content;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}


.fade {
    opacity: 0;
    transition: opacity 0.2s;
}

.disable-scroll {
    overflow: hidden;
    height: 100%;
}

/* Mobile Resizability ------------- */

@media only screen and (max-width: 767px) {

    /* Mobile styles for header */
    .header {
        /* Adjust properties as needed */
        font-size: 16px;
        height: auto;
    }
}


.sidescroll {
    z-index: 3;
    position: fixed;
    right: 20px;
    top: 40%;
}

.square1 {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-bottom: 10px;
    border: solid;
    border-color: var(--accent-color);
    border-radius: 2px;
  }
  
  .square1.blue {
    background-color: var(--accent-color);
  }
  
  @keyframes blueAnimation {
    from {
      background-color: black;
    }
    to {
      background-color: var(--accent-color);
    }
  }

.square2 {
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 10px;
    border: solid;
    border-color: var(--accent-color);
    border-radius: 2px;
}

.square3 {
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 10px;
    border: solid;
    border-color: var(--accent-color);
    border-radius: 2px;

}

.square4 {
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: black;
    margin-bottom: 10px;
    border: solid;
    border-color: var(--accent-color);
    border-radius: 2px;
}