@import "header.css";
@import "footer.css";
@import "about.css";

:root {
    --main-color: #D3D4D7;
    --secondary-color: #ff3863;
    --background-color: #000d15;
    --accent-color: #3E8DE3;
    --gradient: linear-gradient(to right, var(--accent-color), var(--background-color));
    --fx-name: 75px;
    --fs-largeTitle: 50px;
    --fs-mediumTitle: 35px;
    --fs-regular: 25px;
    --opacity-high: 0.999;
    --opacity-medium: 0.9;
    --opacity-low: 0.75;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font: 20px Raleway;
    font-size: var(--fs-regular);
}

body {
    background-color: var(--background-color);
}

main {
    position: relative;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
}

/* Education and Experience --------------------- */

.edex {
    margin-top: 0;
    padding-top: 0;
}

.projects {
}

.edex-t,
.projects-t,
.volunteering-t
{
    padding-top: 5%;
    padding-left: 5%;
    font-size: var(--fs-largeTitle);
    text-align: center;
    color: var(--secondary-color);
}

.ed-u-t,
.ed-c-t,
.ex-ta-t,
.chatcafe-t,
.habitize-t,
.digitized-t,
.sec-t,
.par-t {
    color: var(--accent-color);
    font-size: var(--fs-mediumTitle);
    padding-bottom: 2%;
}

.inner-box {
    background: var(--background-color);
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    text-align: left;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 30;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    pointer-events: all;
}

.ibm-p {
    margin-top: 10px;
    max-width: 400px;
    max-height: min-content;
}

.u-p {
    margin-top: 20px;
    max-width: 750px;
    max-height: min-content;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}


.fade {
    opacity: 0;
    transition: opacity 0.2s;
}

.disable-scroll {
    overflow: hidden;
    height: 100%;
}

/* Mobile Resizability ------------- */

@media only screen and (max-width: 767px) {

    /* Mobile styles for header */
    .header {
        /* Adjust properties as needed */
        font-size: 16px;
        height: auto;
    }
}


.sidescroll {
    z-index: 3;
    position: fixed;
    right: 20px;
    top: 40%;
}

.square1 {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-bottom: 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 1;
}   

.square1.blue {
    background-color: var(--secondary-color);
}

@keyframes blueAnimation {
    from {
        background-color: black;
    }

    to {
        background-color: #ff3863;
    }
}

.square2 {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-bottom: 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 1;
}

.square2.blue {
    background-color: var(--secondary-color);
}

.square3 {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-bottom: 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 1;
}

.square3.blue {
    background-color: var(--secondary-color);
}

.square4 {
    height: 20px;
    width: 20px;
    background-color: black;
    margin-bottom: 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 1;
}

.square4.blue {
    background-color: var(--secondary-color);
}

.n-p {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.u-p, .ibm-p, .n-p {
    transition: transform 0.8s; /* Animation */
}

.u-p:hover, .ibm-p:hover, .n-p:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.inner-box {
    position: relative;
    background: var(--background-color);
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    text-align: left;
    border-image: linear-gradient(to right, var(--accent-color), var(--background-color)) 30;
    border-width: 4px;
    border-style: solid;
    display: inline-block;
    overflow: hidden; /* This is necessary to ensure that the zoomed picture doesn't go outside the box */
}

.s-p {
    padding-top: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.cc1 {
    width: 500px;
    margin: 5px;
    border-radius: 5px
}

.cc2 {
    width: 815px;
    margin: 5px;
    display: block;
    border-radius: 5px
}

.cc3 {
    width: 300px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
}